@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6A9C89;
  --color-secondary: #C1D8C3;
  --color-accent: #FFA725;
  --color-background: #FFF5E4;
}

body {
  background-color: var(--color-background);
}

.glass-effect {
  background: rgba(255, 245, 228, 0.7);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 245, 228, 0.3);
}